version: "3"
services:
    hyperf-skeleton:
        container_name: hyperf-skeleton
        image: hyperf-skeleton
        build:
            context: .
        volumes:
            - ./:/opt/www
        ports:
            - 9501:9501
            - 9500:9500
        environment:
            - APP_ENV=dev
            - SCAN_CACHEABLE=false
    mysql:
        image: "mysql/mysql-server:8.0"
        restart: unless-stopped
        environment:
            MYSQL_DATABASE: ${DB_DATABASE:-laravel}
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD:-root}
            MYSQL_PASSWORD: ${DB_PASSWORD:-userpass}
            MYSQL_USER: ${DB_USERNAME:-username}
        volumes:
            - ./docker/volumes/mysql:/var/lib/mysql
        ports:
            - "${FORWARD_DB_PORT:-3306}:3306"

networks:
    default:
        name: hyperf-skeleton
